body {
  background-color: rgb(238, 174, 174);
}

.App {
  border: 1px solid;
  border-radius: 20px;
  min-height: 200px;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 225, 225);
}

input {
  border-radius: 10px;
  height: 25px;
  background-color: rgb(230, 223, 223);
  outline: none;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
}

